# vim:set ft=yaml:

## beacon.sls:
## list hosts which are declared to be running a beacon instance

domain: jpedermaninc.com

duty:
    beacon:
        - foo.jpedermaninc.com
        - bar.jpedermaninc.com
    bulkagent: []
    source: []
    rsc_us_ng: []
    rsc_uk_ng: []
    everything:
        - zam.jpedermaninc.com
        - foo.jpedermaninc.com
        - bar.jpedermaninc.com
    careful: []

